/* Add this CSS to your stylesheet or in a style block */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
}

.submitButton {
margin-right: 50%;
}
@font-face {
  font-family: 'Feast of Flesh BB';
  src: url('../fonts/fofbb_ital.otf') format('opentype');
}
@font-face {
  font-family: 'Feast of Flesh BB reg';
  src: url('../fonts/fofbb_reg.otf') format('opentype');
}

