/* Add this CSS to your stylesheet or in a style block */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
}

.submitButton {
margin-right: 50%;
}
@font-face {
  font-family: 'Feast of Flesh BB';
  src: url('../fonts/fofbb_ital.otf') format('opentype');
}
@font-face {
  font-family: 'Feast of Flesh BB reg';
  src: url('../fonts/fofbb_reg.otf') format('opentype');
}
.grid-table {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.grid-header {
  display: flex;
  background-color: #f2f2f2;
  padding: 8px;
}

.grid-header-item {
  flex: 1;
  text-align: center;

}

.grid-body {
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-row {
  display: contents; /* Ensures that each item in the row aligns correctly */
}

.grid-item {
  background-color: #dee1e6; /* Set background color for grid items */
  padding: 5px;
  border-bottom: 1px solid #000000;
}

.no-rides .grid-item {
  text-align: center;
  grid-column: span 2;
  padding: 10px;
}
.generatedReport
  {
    border: 1px solid rgb(0, 0, 0);

  }
  .scrollable-generatedReport
  {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    max-height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column; /* Ensure children stack vertically */
    width: 100%; /* Ensure content takes the full width */
  }