.generatedReport {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.scrollable-generatedReport {
  max-height: 500px;
  overflow-y: auto;
}

.grid-header {
  display: flex;
  justify-content: space-between;
  background-color: #8acdea;
  padding: 10px;
  border-radius: 5px;
}

.grid-header-item {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.grid {
  margin-top: 10px;
}

.grid-row {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #fffefe;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-bottom: 2px;
  box-sizing: border-box;
  width: 100%;
}

.grid-item {
  flex: 1;
  text-align: center;
}

.grid-item input {
  width: 100%;
}
.no-rides {
  justify-content: center;
  text-align: center;
  font-size: 16px;
}
  .edit-button,
  .delete-button {
    width: 10px !important;   /* Ensured consistent width */
    height: 25px;  /* Ensured consistent height */
    padding: 5px 10px;
    margin: 0 5px !important;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
  }
  /* Changed color for the Edit button */
  .edit-button {
    background-color: #28a745 !important;
    color: white; /* Ensured text color is white */
  }
  
  /* Changed color for the Delete button */
  .delete-button {
    background-color: #dc3545 !important; /* New red color */
    color: white; /* Ensured text color is white */
  }
  
  /* Updated hover color for the Edit button */
  .edit-button:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  .delete-button:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  
  .no-rides .grid-item {
    flex: 1 100%;
    text-align: center;
  }  
  .ride-total-amount {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow effect */
  
  }
  